* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: mintcream;
    height: 200vh;
}

/* Header of the page */

.header {
    width: 100%;
    height: 30vh;
    background: slategray;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header h1 {
    color: whitesmoke;
    text-shadow: 1px 1px black;
    padding-top: 4%;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 60px;
}

/* Nav bar CSS */
.topnav {
    width: 100%;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
    border: 1px solid mintcream;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    width: 250px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {
    background-color: #111;
}

/* CSS for the first coloumn */
.title {
    height: 20vh;
    width: 98;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.title h1 {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: black;
    font-weight: bold;
    padding-top: 3%;
}

/* Images CSS */

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.images img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin: 2%;
}

.images img:hover {
    /* Will tranform the images to scale */
    transform: scale(1.1);
    border: 1px solid black;
    border-style: dashed;
}

/* Main Section  */
.times {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
}

.time-section,
.time-button {
    text-align: center;
    padding-top: 2%;
}

#time {
    color: black;
    font-size: 40px;
    font-family: 'Podkova', serif;
}

.time-button button {
    background: slategray;
    width: 200px;
    height: 10vh;
    font-size: 20px;
    color: black;
    font-family: 'Podkova', serif;
}

.time-button button:hover {
    border: 2px solid black;
}

#clicks {
    color: white;
    font-family: sans-serif;
}

/* Footer Section  */

footer {
    background: slategray;
    width: 100%;
    height: 19vh;
    margin: 1%;
    margin-top: 27%;
}

footer h1 {
    font-size: 30px;
    color: white;
    font-family: 'Playfair Display', serif;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2.5%;
}

footer li {
    list-style-type: none;
}

footer a {
    color: white;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    list-style-type: none;
}

/* ------- Log in Secction ----------- */

.forms {
    width: 50%;
    height: 50vh;
    margin-left: 25%;
    margin-top: 2%;
    border-radius: 50%;
    background: darkgray;
    position: absolute;
    justify-content: center;
    display: inline-flex;
}

.boxes {
    margin-top: 3%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

#button,
#username,
#password {
    width: 250px;
    height: 35px;
    text-align: center;
}

label,
h3 {
    color: white;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

span {
    color: black;
    font-family: 'Playfair Display', serif;
}