* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: mintcream;
}

/* Header of the page */

.header {
    width: 100%;
    height: 30vh;
    background: slategray;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header h1 {
    color: whitesmoke;
    text-shadow: 1px 1px black;
    padding-top: 4%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
}

/* Nav bar CSS */
.topnav {
    width: 100%;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
    border: 1px solid mintcream;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    width: 250px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {
    background-color: #111;
}